CREATE TABLE IF NOT EXISTS daily_logs (
  id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
  content TEXT NOT NULL,
  category TEXT CHECK (category IN ('To-Do', 'Idea', 'Thought', 'Meeting Note')),
  sentiment TEXT CHECK (sentiment IN ('Positive', 'Neutral', 'Urgent')),
  created_at TIMESTAMPTZ DEFAULT NOW()
);

-- Enable RLS
ALTER TABLE daily_logs ENABLE ROW LEVEL SECURITY;

-- Allow all for now (matching other tables)
CREATE POLICY \
Enable
all
access
for
daily_logs\ ON daily_logs FOR ALL USING (true) WITH CHECK (true);
